In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount(#google drive file location here)
data= pd.read_csv(#uploadedfilelocation)
print('File Read Succesfully')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
File Read Succesfully

In [ ]:
data['Primary Type'].unique()

array(['BATTERY', 'THEFT', 'NARCOTICS', 'ASSAULT', 'BURGLARY', 'ROBBERY',
       'DECEPTIVE PRACTICE', 'OTHER OFFENSE', 'CRIMINAL DAMAGE',
       'WEAPONS VIOLATION', 'CRIMINAL TRESPASS', 'MOTOR VEHICLE THEFT',
       'SEX OFFENSE', 'INTERFERENCE WITH PUBLIC OFFICER',
       'OFFENSE INVOLVING CHILDREN', 'PUBLIC PEACE VIOLATION',
       'PROSTITUTION', 'GAMBLING', 'CRIM SEXUAL ASSAULT',
       'LIQUOR LAW VIOLATION', 'CRIMINAL SEXUAL ASSAULT', 'ARSON',
       'STALKING', 'KIDNAPPING', 'INTIMIDATION', 'HOMICIDE',
       'CONCEALED CARRY LICENSE VIOLATION', 'NON - CRIMINAL',
       'HUMAN TRAFFICKING', 'OBSCENITY', 'PUBLIC INDECENCY',
       'OTHER NARCOTIC VIOLATION', 'NON-CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)', 'RITUALISM',
       'DOMESTIC VIOLENCE'], dtype=object)

In [ ]:
data['voilent crime']=0
data['other crime']=0
data['sum_voilentcrime']=0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7355291 entries, 0 to 7355290
Data columns (total 25 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
 22  voilent crime         int64
 23  other crime           int64
 24  sum_voilentcrime      int64
dtypes: bool(2), float64(7), int64(6), object(10)
memory usage: 1.3+ GB

In [ ]:
voilent_crimes=['OFFENSE INVOLVING CHILDREN','CRIM SEXUAL ASSAULT','SEX OFFENSE','NARCOTICS','PROSTITUTION','CRIMINAL DAMAGE','ASSAULT','DOMESTIC VIOLENCE']

In [ ]:
for i in voilent_crimes:
    data.loc[data['Primary Type'] == i, 'voilent crime'] = 1

In [ ]:
other_crimes=['THEFT', 'OTHER OFFENSE',
        'MOTOR VEHICLE THEFT',
       'DECEPTIVE PRACTICE', 'BATTERY', 'BURGLARY', 'WEAPONS VIOLATION',
       'PUBLIC PEACE VIOLATION', 'GAMBLING',
       'LIQUOR LAW VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'STALKING', 'ARSON',
       'CRIMINAL TRESPASS', 'HOMICIDE', 'ROBBERY', 'OBSCENITY',
       'KIDNAPPING', 'INTIMIDATION', 'RITUALISM',
       'OTHER NARCOTIC VIOLATION', 'PUBLIC INDECENCY']

In [ ]:
for i in other_crimes:
    data.loc[data['Primary Type'] == i, 'other crime'] = 1

In [ ]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date']=data['Date'].dt.normalize()

In [ ]:

data.head()

         ID Case Number  ... other crime sum_voilentcrime
0  10224738    HY411648  ...           1                0
1  10224739    HY411615  ...           1                0
2  11646166    JC213529  ...           1                0
3  10224740    HY411595  ...           0                0
4  10224741    HY411610  ...           0                0

[5 rows x 25 columns]

In [ ]:
r1=data['Date']
r1[0]

Timestamp('2015-09-05 00:00:00')

In [ ]:

r2=r1[0]-pd.Timedelta(days=2)
r2

Timestamp('2015-09-03 00:00:00')

In [ ]:

s1=data['Date'].value_counts()
s2=s1.keys()
s3={}
for i in s2:
    r5=[]
    r5.append(i)
    r1=data[data['Date']==i]['voilent crime']==1
    count=0
    for i in r1:
        if i==True:
            count+=1
    s3[r5[0]]=count
    data.loc[data['Date'] == r5[0], 'sum_voilentcrime'] = count

In [ ]:
data.head()

         ID Case Number  ... other crime sum_voilentcrime
0  10224738    HY411648  ...           1              206
1  10224739    HY411615  ...           1              221
2  11646166    JC213529  ...           1              248
3  10224740    HY411595  ...           0              206
4  10224741    HY411610  ...           0              206

[5 rows x 25 columns]

In [ ]:
data['sum_voilentcrime7']=0

In [ ]:
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0

In [ ]:
l1=0
j=2
while j<8:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime7'] = sum1[i]

In [ ]:
data.head()

         ID Case Number  ... sum_voilentcrime sum_voilentcrime7
0  10224738    HY411648  ...              206              1653
1  10224739    HY411615  ...              221              1646
2  11646166    JC213529  ...              248              1464
3  10224740    HY411595  ...              206              1653
4  10224741    HY411610  ...              206              1653

[5 rows x 26 columns]

In [ ]:
data['sum_voilentcrime30']=0

In [ ]:
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0

In [ ]:
l1=0
j=2
while j<31:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime30'] = sum1[i]

In [ ]:
data.head()

         ID Case Number  ... sum_voilentcrime7 sum_voilentcrime30
0  10224738    HY411648  ...              1653               6764
1  10224739    HY411615  ...              1646               6769
2  11646166    JC213529  ...              1464               6055
3  10224740    HY411595  ...              1653               6764
4  10224741    HY411610  ...              1653               6764

[5 rows x 27 columns]

In [ ]:
data['sum_voilentcrime120']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<121:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime120'] = sum1[i]

In [ ]:
data.head()

         ID Case Number  ... sum_voilentcrime30 sum_voilentcrime120
0  10224738    HY411648  ...               6764               26489
1  10224739    HY411615  ...               6769               26519
2  11646166    JC213529  ...               6055               24440
3  10224740    HY411595  ...               6764               26489
4  10224741    HY411610  ...               6764               26489

[5 rows x 28 columns]

In [ ]:
data['sum_othercrime']=0
s1=data['Date'].value_counts()
s2=s1.keys()
s3={}
for i in s2:
    r5=[]
    r5.append(i)
    r1=data[data['Date']==i]['other crime']==1
    count=0
    for i in r1:
        if i==True:
            count+=1
    s3[r5[0]]=count
    data.loc[data['Date'] == r5[0], 'sum_othercrime'] = count

In [ ]:
data['sum_othercrime7']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<8:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime7'] = sum1[i]

In [ ]:
data['sum_othercrime30']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<31:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime30'] = sum1[i]

In [ ]:
data['sum_othercrime120']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<121:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime120'] = sum1[i]

#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------

In [ ]:
data.head()

In [ ]:
#data=data.dropna() # error showed up if not run

In [ ]:

data["Latitude"].fillna(data["Latitude"].mean(), inplace = True)
data["Longitude"].fillna(data["Longitude"].mean(), inplace = True)

In [ ]:
split_date =data['Date'][77]
df_training = data.loc[data['Date'] <= split_date]
df_test = data.loc[data['Date'] > split_date]

In [ ]:
data['Date'][5898401]

In [ ]:
a=len(df_training)
b=len(df_test)
print((a/(a+b))*100)
print((b/(a+b))*100)
a,b,a+b

In [ ]:
x_columns=['Latitude','Longitude','sum_voilentcrime7','sum_voilentcrime30','sum_voilentcrime120','sum_othercrime7','sum_othercrime30','sum_othercrime120']

y_columns=['voilent crime']

In [ ]:
x_train=df_training[x_columns]
x_test=df_test[x_columns]
y_train=df_training[y_columns]
y_test=df_test[y_columns]

In [ ]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(x_train, y_train)

In [ ]:
y_pred= classifier.predict(x_test)

In [ ]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:

print(metrics.confusion_matrix(y_test, y_pred))